@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 25px;
    font-family: 'Roboto Mono', monospace;
    color: #eaeaea;
    background-color: #161616;
}

@media screen and (max-width: 900px) {
    html {
        font-size: 18px;
    }
}

@media screen and (max-width: 450px) {
    html {
        font-size: 12px;
    }
}

body {
    height: 100%;
    margin: 32px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    padding: 0;
    margin: 0 auto;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 3rem;
}

h2 {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    font-size: 1.5rem;
}

h3 {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 32px;
}

li a {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

a {
    color: inherit;
    text-decoration: inherit;
}